.content .hljs-meta {
    color: olivedrab;
    font-weight: 500;
}

.doc h3:not(.discrete) {
    font-weight: 500;
}

.doc h4:not(.discrete) {
    font-style: italic;
}

.doc .sidebarblock.float-left {
    min-width: 400px;
    margin-right: 30px;
}

.content .hljs-keyword,
.content .hljs-selector-tag,
.content .hljs-subst {
    color: darkblue;
    font-weight: 500;
}

div.paragraph code {
    color: darkmagenta;
}

.doc p a code,
.doc div.ulist a code,
.doc div.paragraph a code {
    color: cornflowerblue;
}

.content .ulist {
    margin-top: 0.2rem;
}

.content h2 {
    margin-bottom: 9px;
}

.content > .ulist ul {
    padding-left: 1rem;
}

.content .ulist .ulist ul {
    padding-left: 1rem;
}

#search-input {
    border-radius: 7px;
    height: 2.5em;
    text-indent: 5px;
}
